@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Bold.woff2');
    src: url('../fonts/Raleway-Italic.woff2');
    src: url('../fonts/Raleway-Regular.woff2');
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    src: url('../fonts/Raleway-Italic.ttf') format('truetype');
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
/* Initialiser les marges-éviter les marges auto des navigateurs */
*{
    margin:0 ;
    padding: 0 ;
    box-sizing: border-box;
}
/* bandeau haut de CV-config photo et effets zoom+clic-insert icones-backgrounf */
figure{
    width: 150px;
    height: 150px;
}
 #cgr {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ffffff;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    cursor: zoom-in;
} 
header{
    background-color: #17abb3;
    color: #ffffff;
    flex-basis: 100%;
}
/* positionnement des textes et icones de contact entête-Alignement des listes en cote à cote */
.titre{
   text-align: end;
   position: relative;
   right:215px;
   bottom: 85px;
   font-weight: 500;
   font-size:27px;
} 
.tete{
text-align:end;
position: relative;
right: 220px;
bottom: 90px;
font-size: 50px;
}
.listco{
position: relative;
left: 600px;
bottom: 70px;
}
.listco1{
position: relative;
left: 600px;
bottom: 70px;
}
.listco, .listco1{
display: inline-block;
list-style: none;
line-height: 30px;
margin-right: 30px;
margin-top: 10px;
font-family: 'Raleway', sans-serif;
}
a{
   list-style: none;
   color: #ffffff;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   text-align: end;
}
/* Définir la police de caractére des titres */
h1,h2{
    font-family: 'Lato', sans-serif;
    text-indent: 30px;
}
.trait{
   border-bottom: 1px solid #e3e3e3;
}
/* Définir la police de caractère du contenu sauf des titres */
.format{
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: medium;
    text-indent: 30px;
    font-family: 'Raleway', sans-serif;
}
/* définir la largeur maximale de la page et les bordures de coté-mettre en flexbox-mettre la police Railway*/
body{
    max-width: 1160px;
    margin: auto;
    box-shadow: -5em 0 0 #f5f5f5, 5em 0 0 #f5f5f5;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    padding-bottom: 81px;
    font-family: 'Raleway', sans-serif;
 }
 /* Définir couleur des titres aside et corps du cv */
 aside h2, main section h2{
    color: #17abb3;
    font-weight:500;
    margin-bottom: 30px;
    margin-top: 30px;
 }   
 /* Définir la largeur du corps du CV(profil-formation..)+indentation et de aside */
 .profil{
    position: absolute;
    flex: basis 65%; 
    text-indent: 30px;
    font-family: 'raleway', sans-serif;
    text-align: justify;
    margin-right: 30px;
 }
 .cursu{
  position: relative;
  margin-top: 300px;
  flex-basis: 65%;
   
}
 aside{
    position: relative;
    flex-basis: 30%;
    margin-right: 30px;
    background-color: #e3e3e3;
    font-family: 'Raleway';
 }
 /* Définir positionnement et couleur du pied de page */
  footer{
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    background-color: #17abb3;
    line-height: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
 }
 /* Alignement compétence et star rating HTML */
.format, .form1{
   display: inline-block;
   margin-bottom: 5px;
}
/* masquer les boutons radio de la liste Compétences */
 .form1 input{
    display: none;
 }
 /* Positionner les étoiles*/
 .form1{
   position: absolute;
   right: 20px;
 }
 /* Mettre les étoiles en bleu */
 .form1, .form2, .form3, .form4 label .fa-solid{
    color: #17abb3;
 }
 /* Mettre les étoiles vides non cochées en contour bleu */
 .form1, .form2, .form3, .form4 label .fa-regular{
 color: #17abb3;
 }
 /* Mise en forme du rating CSS */
 .formcss{
   font-size: 20px;
   text-indent: 30px;
   font-family: 'Raleway', sans-serif;
 }
 .formcss, .form2{
   display: inline-block;
   margin-bottom: 5px;
 }
 .form2 input{
   display:none
 }
 .form2{
   position: absolute;
   right: 20px;
   }
 /* Mise en forme du rating Javascript */
 .formjs{
   font-size: 18px;
   text-indent: 30px;
   font-family: 'Raleway', sans-serif;
 }
 .form3 input{
   display: none;
 }
 .form3{
   position: absolute;
   right: 20px;
 }
 .form3, .formjs{
   display: inline-block;
   margin-bottom: 5px;
 }
 /* Mise en forme PHP */
 .formphp{
   font-size: 18px;
   text-indent: 30px;
   font-family: 'Raleway', sans-serif;
 }
 .form4 input{
   display: none;
 }
 .form4{
   position: absolute;
   right: 20px;
 }
 .form4, .formphp{
   display: inline-block;
   margin-bottom: 5px;
 }
 /* Définir le gras et la taille du titre et aligner les 2 listes */
 .langue{
    font-weight: bold;
    font-size: large;
    list-style: none;
    margin-left: 30px;
 }
 .niveau{
    font-size: large;
    list-style: none;
    position: absolute;
    right: 10px;
    text-align: right;
 }
 .langue, .niveau{
    display: inline-block;
 }
 /* Mise en forme de la liste des qualités */
 .qualites, .interet{
   font-size: large;
   margin-left: 45px;
 }
 /* Diminuer l'opacité des icones réseau social au survol */
 .opacity :hover{
   opacity:0.7;
 }
 .opacity{
 word-spacing: 10px;
 margin-top: 10px;
 /*Redimensionner les icones réseau social  */
}
 .fa-brands{
  font-size: 20px;
 }
 /* Mise en forme de la partie Formations */
 .annee{
 text-align: right;
 list-style: none;
 line-height: 55px;
 color: #17abb3;
 position: relative;
 left: 230px;
 }
 .diplome{
   list-style: none;
 }
 .annee, .diplome{
   display: inline-block;
   vertical-align: top;
   font-family: 'Raleway', sans-serif;
 }
 /* Mise en forme des lignes en gras et italique */
 .bold{
  font-weight: bold;
 }
 .it{
  font-style: italic;
 }
 /* Mise en forme de la partie stage */
  .stage, .annee{
    display: inline-block;
    vertical-align:top;
 }
 .stage{
  list-style: none;
  margin-right: 210px;
   }
 /* Mise en forme de la partie Expériences Pro résumées */
 .exp{
  list-style: none;
  max-width: 420px;
  overflow-wrap: break-word;
  margin-right: -85px;
  line-height: 25px;
  margin-bottom: 100px;
 }
 .exp, .annee{
  display: inline-block;
  vertical-align: top;
  font-family: 'Raleway', sans-serif;
 }
 /* effet survol lignes formation-stage-expériences en fond gris et bordure bleue */
 .diplome:hover li, .annee:hover li{
  background-color: #e3e3e3;
  border-left: solid 4px #17abb3;
}
.stage:hover li{
  background-color: #e3e3e3;
  border-left: solid 4px #17abb3;
  }
  .exp:hover{
  background-color: #e3e3e3;
  border-left: solid 4px #17abb3;
  }
 
 